---
---

@import 'variables/colors';
@import 'variables/typography';


@import 'components/header';
@import 'components/footer';

/* GLOBAL ____________________*/

*, *:before, *:after {
	// outline: 1px solid pink;
  box-sizing: border-box;
}

body {
  background-color: $base-light;
  color: $base-dark;
  font-size: 18px;
  line-height: 1.35;
  font-family: $type-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  padding: 1em;
  text-rendering: optimizeLegibility;

  @media screen and (min-width: 680px) {
    font-size: 22px;
    padding: 0;
  }
}

.wrapper {
  max-width: 680px;
  margin: 0 auto;
}

section {
  margin-bottom: 2.5em;
}

ul, dl {
  padding: 0;
  list-style-type: none;
}

dt {
  font-weight: bold;
}

dd {
  padding: 0;
  margin: 0;

  &:nth-child(3n) {
    margin-bottom: 1.2em;
  }
}

.work-list {
  li {
    margin-bottom: 1.2em;
  }
}

.social-list {
  margin: 0;

  li {
    display: inline-block;
    margin-right: 6px;

    &:last-child {
      margin-right: 0;
    }
  }

  img {
    width: 24px;
    height: 24px;
  }
}

figure {
  margin: 0;
  margin-bottom: 1.5em;
}

figcaption {
  font-style: italic;
}

img {
  max-width: 100%;
  height: auto;
}
